.form-group
{
    display: block;
    padding-bottom: 1em;

    label
    {
        display: block;
        padding-bottom: 0.5em;
    }

    &.required label:after
    {
        content: ' *';
        color: red;
    }

    input[type="text"], input[type="email"], input[type="password"], input[type="number"], textarea, select
    {
        display: block;
        width: 100%;
        padding: 0.5em;
        font-family: 'Open Sans', sans-serif;
        font-size: 1em;
        color: #666;
        border-radius: 0.25em;
        border: 1px solid darken(white, 15%);
        box-sizing: border-box;
    }
}
