html, body
{
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: darken(white, 7.5%);
}

.wrapper
{
    width: 1200px;
    display: block;
    margin: 1em auto;
    box-sizing: border-box;

    @media screen and (max-width: 1200px)
    {
        width: 100%;
        padding-left: 1em;
        padding-right: 1em;
    }
}
