.comment-component
{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;

    .depth-marker
    {
        width: 2px;
        margin-right: 1em;
        background-color: darken(white, 10%);
    }

    .comment-container
    {
        flex: auto;
        padding: 1em;
        display: flex;
    }

    .comment
    {
        flex: auto;
        padding: 1em;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        border: 1px solid darken(white, 10%);
    }

    .meta
    {
        text-align: center;
        padding-right: 1em;
        border-right: 1px solid darken(white, 10%);
    }

    .avatar
    {
        width: 64px;
        display: block;
        margin: 0 auto;
        margin-bottom: 1em;
    }

    .content
    {
        padding-left: 1em;
    }

    .replies
    {
        flex-basis: 100%;
    }

    .interactions
    {
        flex-basis: 100%;
        text-align: right;

        .fa
        {
            cursor: pointer;
        }

        form
        {
            margin-top: 1em;
            padding-top: 1em;
            text-align: left;
            border-top: 1px solid darken(white, 10%);
        }
    }
}
