.comments-component
{
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);

    header
    {
        padding: 1em;
        background-color: darken(white, 5%);
        border-bottom: 1px solid darken(white, 10%);
    }

    .new-comment-form
    {
        header
        {
            border-top: 1px solid darken(white, 10%);
        }

        section
        {
            padding: 1em;
        }
    }
}
