<template>
    <div class="comment-component">
        <div class="comment-container">
            <div class="depth-marker" v-for="n in depth"></div>

            <div class="comment">
                <div class="meta">
                    <img class="avatar" :src="comment.user.avatar" :alt="comment.user.name">

                    <p>{{ comment.user.name }}</p>
                </div>

                <div class="content">
                    {{ comment.text }}
                </div>

                <div class="interactions">
                    <i class="fa fa-lg fa-reply" title="Reply" v-on:click="replying = !replying"></i>

                    <form v-on:submit="postReply" v-if="replying">
                        <div class="form-group">
                            <label for="name">Name</label>

                            <input id="name" type="text" v-model="reply.name">
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>

                            <input id="email" type="email" v-model="reply.email">
                        </div>

                        <div class="form-group">
                            <label for="reply">Reply</label>

                            <textarea id="reply" v-model="reply.text"></textarea>
                        </div>

                        <div class="form-group">
                            <button class="button" type="submit">Post Reply</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="replies" v-if="comment.replies && comment.replies.length">
            <comment v-for="comment in comment.replies" :key="comment.id" :comment="comment" :depth="depth + 1"></comment>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                replying: false,
                reply: {}
            }
        },

        props: {
            comment: {
                type: Object,
                default() {
                    return {};
                }
            },

            depth: {
                type: Number,
                default: 0
            }
        },

        methods: {
            postReply(e) {
                if (e && e.preventDefault) e.preventDefault();

                let reply = {
                    id: this.generateID(),
                    text: this.reply.text,
                    user: {
                        name: this.reply.name,
                        avatar: `https://api.adorable.io/avatars/64/${this.reply.email}`
                    }
                };

                if (!this.comment.replies) this.comment.replies = [];

                this.comment.replies.unshift(reply);

                this.reply = {};

                this.replying = false;

                this.$forceUpdate();

                return false;
            },

            generateID() {
                return Math.floor(Math.random() * 99999);
            }
        }
    }
</script>
