<template>
    <div class="comments-component">
        <header>
            <h1>Comments</h1>
        </header>

        <comment v-for="comment in comments" :key="comment.id" :comment="comment"></comment>

        <form class="new-comment-form" v-on:submit="submit">
            <header>
                <h2>Post a Comment</h2>
            </header>

            <section>
                <div class="form-group">
                    <label for="name">Name</label>

                    <input id="name" name="name" type="text" v-model="comment.name">
                </div>

                <div class="form-group">
                    <label for="email">Email</label>

                    <input id="email" name="email" type="email" v-model="comment.email">
                </div>

                <div class="form-group">
                    <label for="text">Text</label>

                    <textarea id="text" name="text" v-model="comment.text" rows="5"></textarea>
                </div>

                <div class="form-group">
                    <button class="button" type="submit">Submit</button>
                </div>
            </section>
        </form>
    </div>
</template>

<script>
    export default {
        props: {
            comments: {
                type: Array,
                default() {
                    return [];
                }
            }
        },

        data() {
            return {
                comment: {
                    name: '',
                    email: '',
                    text: ''
                }
            };
        },

        methods: {
            submit(e) {
                if (e && e.preventDefault) e.preventDefault();

                let comment = {
                    id: this.generateID(),
                    text: this.comment.text,
                    user: {
                        name: this.comment.name,
                        avatar: `https://api.adorable.io/avatars/64/${this.comment.email}`
                    }
                };

                this.comments.push(comment);

                this.comment.name = '';
                this.comment.email = '';
                this.comment.text = '';

                this.$forceUpdate();

                return false;
            },

            generateID() {
                return Math.floor(Math.random() * 99999);
            }
        }
    }
</script>
